<h1>Search Comparables</h1>

<%= form_tag("/comparables/search", method: "get") do %>
  <%= label_tag(:address, "Address:") %>
  <%= text_field_tag(:address) %>
  <%= submit_tag("Search") %>
<% end %>